$("#ajx-loader").addClass("hide")
<% if @response['errors'] != nil %>
  $(".payment-errors").html("<%=@response['errors'] %>").removeClass("hide")
  $('#rootwizard').find('.pager .previous').show();
<% elsif @response['status'] != nil %>
  $("#tab3").html('<p class="small">Your payment will be processed now.</p> <p class="small">Your credit card statement will show "CardConnect" as your donation description.</p>');
  $(".payment-info").html("Success<%=@response['status'] %>.").removeClass("hide")
<% end%>
