$("#ajx-loader").addClass("hide")
<% if @response['errors'] != nil %>
  $(".payment-errors").html("<%=@response['errors'] %>").removeClass("hide")
  $('#rootwizard').find('.pager .previous').show();
<% elsif @response['status'] != nil %>
  $("#tab3").html('<p class="small">Thank you very much. The page will reset in 3 seconds.</p> ');
  $("#pager-cont").hide()
  $(".payment-info").html("Approved!").removeClass("hide")
  setTimeout(function(){  location.reload(); },3000);

<% end%>
